services:

  #https://coder.com/docs/code-server/install#docker
  code-server:
    #https://hub.docker.com/r/codercom/code-server/tags
    image: code-server-ci
    container_name: code-server
    hostname: code-server
    restart: unless-stopped
    networks:
      - xlocal
    build:
      context: code-server
      dockerfile: Dockerfile
      args:
        ARCH: '${ARCH}'
        CODE_VERSION: '${CODE_VERSION}'
        HOST_UID: '${HOST_UID}'
        HOST_GID: '${HOST_GID}'
    ports:
      - '${CODE_PORT}:8080'
    volumes:
      - '${CONFIG}/code-server:/home/coder/.config'
      - '${HOME}/.local:/home/coder/.local'
      - '${WORKSPACE}:/home/coder/workspace'
    user: '${HOST_UID}:${HOST_GID}'
    environment:
      - 'TZ=${TZ}'
      - 'UID=${HOST_UID}'
      - 'GID=${HOST_GID}'
      - 'DOCKER_USER=${USER}'
      - 'PASSWORD=${CODE_PASSWORD}'
      - 'WORKSPACE=${WORKSPACE}'

  #https://www.jenkins.io/doc/book/installing/docker/
  jenkins:
    image: jenkins-ci
    container_name: jenkins
    hostname: jenkins
    restart: unless-stopped
    networks:
      - xlocal
    build:
      context: jenkins
      dockerfile: Dockerfile
      args:
        # Check the SO Architecture
        ARCH: '${ARCH}'
    ports:
      - '${JENKINS_PORT}:8080'
      - '${JENKINS_AGENT_PORT}:50000'
    volumes:
      - 'jenkins_home:/var/jenkins_home'

  #https://docs.n8n.io/hosting/installation/docker/
  n8n:
    #https://hub.docker.com/r/n8nio/n8n
    image: n8nio/n8n:stable
    container_name: n8n
    hostname: n8n
    restart: unless-stopped
    networks:
      - xlocal
    ports:
      - "${N8N_PORT}:5678"
    environment:
      - 'TZ=${TZ}'
      - 'NODE_ENV=production'
      - 'N8N_HOST=${N8N_HOST}'
      - 'WEBHOOK_URL=https://${N8N_HOST}/'
      - 'N8N_PROTOCOL=https'
      - 'N8N_BASIC_AUTH_ACTIVE=true'
      - 'N8N_BASIC_AUTH_USER=${N8N_USER}'
      - 'N8N_BASIC_AUTH_PASSWORD=${N8N_PASSWORD}'
      - 'N8N_RUNNERS_ENABLED=true'
      #- 'N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true'
    volumes:
      - 'n8n_home:/home/node/.n8n'

volumes:
  jenkins_home:
    external: true
  n8n_home:
    external: true

networks:
  xlocal:
    name: xlocal
    driver: bridge
